*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	margin: 0;
	padding: 0;		
}

a {
	text-decoration: none;
}

li {		
	list-style: none;
}

header, header a {
	color: #fff;
}

/*==============================*/
/*		CONTAINER 1170px		*/
/*==============================*/
.container-box {
	padding: 0 calc(50% - 585px);
	/* width: 1170px;
	margin: 0 auto; */
}

/*==========*/
/*	HEADER	*/
/*==========*/
header {
	padding: 2% 0 8%;
}

.header-box {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.custom-background {
	height: 111vh;
	/* background-size: cover; */
}

.header-overlay::before {
	content: "";
	display: block;
	width: 50%;
	height: 111vh;	
    position: absolute;
    top: 0;
	left: 0;		
	background: rgba(0, 88, 147, 0.6) no-repeat;
	filter: blur(4px);
	z-index: -1; 
}

/*==========*/
/*	LOGO	*/
/*==========*/
.logo {	
	display: flex;	
	align-items: center;
}

.logo-img {
	margin-right: 20px;
}

.logo-title p {
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.065em;
}

.logo-title span {
	font-weight: normal;
}

/*==========*/
/*	MENU	*/
/*==========*/
.navbar-nav {
	display: flex;
	margin: 0;
}

.menu-item {
	margin-left: 8px;
	font-size: 15.3px;
	color: #fff;
	padding: 5px;
	border: 1px solid transparent;
	transition: all 0.8s ease;
	text-transform: capitalize;
}

.menu-item:first-child {
	margin-left: 0;
	padding-left: 10px;
	border-left: 2px solid #FF7900;
}

.menu-item:hover {
	border-bottom: 1px solid #FF7900;
}

/*===========*/
/*	INTRO	 */
/*===========*/
.intro {	
	display: flex;
	flex-direction: column;
	
}

.intro-box {
	display: flex;
	flex-direction: column;	
	padding: 0;
	margin: 0;	
	color: #fff;
}

.intro-content {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: calc(50% - 350px) 0;
}

.intro-title,
.intro-subtitle-top,
.intro-subtitle-bottom {
	margin: 15px 0;
}

.intro-subtitle-top {
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: 0.035em;
}

.intro-title {	
	font-family: 'Lora';
	font-style: normal;
	font-weight: bold;
	font-size: 75px;	
	letter-spacing: 0.125em;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.intro-subtitle-top {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: 0.035em;
}

.intro-subtitle-bottom {
	font-family: 'Lora';
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	text-align: end;
	margin-right: 35px;
}

.intro-description {
	display: flex;
	flex-direction: row;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 30px;
	letter-spacing: 0.005em;
	margin: 0;
}

.intro-text {
	padding: 0 1%;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	margin-bottom: 35px;
}

/*===========*/
/*	BUTTONS	 */
/*===========*/
.btn {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	width: 227px;	
	cursor: pointer;
	transition: all 0.5s ease;
	background: linear-gradient(180deg, #FA8701 11.67%, #FA4C01 92.4%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	margin: 0 auto;
}

.btn-link {
	color: #fff;
	margin: 0;
	padding: 0;
}

.mouse-link {
	display: block;		
	cursor: pointer;
}

.mouse-img {
	max-width: 100%;
	
}

/*==============*/
/*	SOCIAL		*/
/*==============*/
.social-box {
	margin: 0;
	margin-right: 30px;
	padding: 0;	
}

.social-list {
	margin-bottom: 3px;
	justify-content: flex-start;
}

.social-link {
	font-size: 30px;
	color: #fff;
}

.social-link:hover {
	color: #FF7900;
}
/*==============*/
/*	HEADLINE	*/
/*==============*/
.headline {
	/* чтобы линии не выходили за ширину блока заголовка */
	overflow: hidden;
}

.headline::before,
.headline::after  {
	content: '';
	/* делаем линию строчно-блочной */
	display: inline-block;
	/* выравниваем вертикально по середине */
	vertical-align: middle;
	/* не позволяем ширине превысить 100% (будет добавлен бордюр) */
	box-sizing: border-box;
	/* установка ширины в 100% делает линию равной ширине тега заголовка
	** благодаря этому линия заполнит все свободное пространство
	** слева и справа от текста*/
	width: 110%;
	height: 1px;
	/* добавляем к линии левый и правый бордюр цветом основного фона заголовка
	** благодаря этому создается нужный отступ между линиями и текстом*/
	border: solid #FFF;
	border-width: 0 100px;	
}
.headline::before {
	margin-right: -100%;
}

.headline::after {
	display: none;
}
/*==========*/
/* 	FOOTER	*/
/*==========*/
.footer-block {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background:   url('../img/bg-footer.jpg') no-repeat;
	background-size: cover;
	height: 100%;	
	z-index: 0;
	color: #fff;
	font-size: 24px;
}

.footer-block::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 83, 118, 0.83);
	background-size: contain;
	z-index: -1;
}
 
.footer-content {
	display: flex;	
	justify-content: space-around;
	align-items: flex-start;
}

.footer-h {
	font-weight: bold;
	margin: 0;
}

.copyright {
	text-align: center;
}
/*==========*/
/* 	EX-BOX	*/
/*==========*/
.ex-flex {
	display: flex;	
	align-items: center;
}

.ex-item {
	border: 1px solid #000;
	border-radius: 17px;
	overflow: hidden;
	padding: 0;
}

.ex-bg {
	max-width: 100%;
	background-color: rgba(0, 83, 118, 0.83);
	background-size: cover;
}

.ex-box {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
}

.ex-name {

}

.ex-cal,
.ex-coin,
.ex-time,
.ex-persons	{
	justify-content: space-between;
}

.ex-btn {	
	font-size: 24px;
	padding: 3px 20px;
	width: 223px;
	margin: 0 auto;	
	transition: all 0.5s ease;
	border: none;
	border-radius: 40px;	
}
/*==========*/
/* 	REVIEW	*/
/*==========*/
.review-item {

}

.review-box {
	width: 770px;
	height: 270px;
	background: #fff;
	box-shadow: 10px 5px 20px rgba(0, 14, 90, 0.25);
	border-radius: 19px;
}
.review-name {

}
	

/* ______________________________ */

.wave-divider {
    width: 100%;
    height: 60px;
    display:block;    
}
.wave-parallax1 {
    animation: wave-move1 10s linear infinite;
}
.wave-parallax2 {
    animation: wave-move2 8s linear infinite;
}
.wave-parallax3 {
    animation: wave-move3 6s linear infinite;
}
.wave-parallax4 {
    animation: wave-move4 4s linear infinite;
}
@keyframes wave-move1 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}
@keyframes wave-move2 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
@keyframes wave-move3 {
    0% {
        transform: translateX(85px);
    }
    100% {
        transform: translateX(-90px);
    }
}
@keyframes wave-move4 {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
.dark-block {
    background: #337AB7;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #FFF;
}
.dark-bg {
    background: #337AB7;
}
.light-block {
    background: #FFF;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #337AB7;
}