*, *:before, *:after {
	box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro';
	margin: 0;
	padding: 0;		
}

a {
	text-decoration: none;
}

li {		
	list-style: none;
}

header, header a {
	color: #fff;
}
/*==============================*/
/*		CONTAINER 1400px		*/
/*==============================*/
.contant-box {
	padding: 0 calc(50% - 700px);
}
/*==========*/
/*	HEADER	*/
/*==========*/
.header-box {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	margin-top: 40px;
	margin-bottom: 78px;
}

.header-bg {	
	background-image:  url('<?php echo $page_bg_image_url; ?>');
	background-size: cover; 	
}

.header-overlay::before{
	content: ' ';
	background: rgba(128, 204, 218, 0.44) no-repeat;	
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 0px 17px 17px 0;
	position: absolute;
	top: 39%;
	left: 0;
	width: 50%;
	padding-bottom: 13%;
	z-index: -1;
}

.header-overlay::after{
	content: ' ';
	background: url('../img/bg-overlay.png') no-repeat;
	background-size: contain;
	border-radius: 0px 17px 17px 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110.5%;
	z-index: -2;	
}
/*==========*/
/*	LOGO	*/
/*==========*/
.logo {	
	display: flex;	
	align-items: center;
}

.logo-img {
	margin-right: 20px;
}

.logo-title p {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.logo-title span {
	font-size: 18px;
}
/*==========*/
/*	MENU	*/
/*==========*/
.navbar-nav {
	display: flex;
	font-size: 22px;
	margin: 0;
}

.menu-item {
	margin-left: 30px;
	color: #fff;
	padding: 5px;
	border: 1px solid transparent;
	transition: all 0.8s ease;
}

.menu-item:first-child {
	margin-left: 0;
	padding-left: 10px;
	border-left: 1px solid #FF7900;
}

.menu-item:hover {
	border-bottom: 1px solid #FF7900;
}
/*===========*/
/*	INTRO	 */
/*===========*/
.intro {	
	display: flex;
	flex-direction: column;
}

.intro-box {
	display: flex;
	flex-direction: column;	
	padding: 0;
	margin: 0;	
	color: #fff;
}

.intro-content {
	margin-bottom: 10%;
}

.intro-title,
.intro-subtitle {
	margin: 0;
}

.intro-title {	
	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 155px;
	line-height: 198px;
	letter-spacing: 0.065em;
	margin: 0;
	padding: 0;
}

.intro-description {
	position: relative;
	display: flex;
	flex-direction: row;	
}

.intro-subtitle {
	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.03em;
}

.intro-text {
	display: block;
	width: 630px;	
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 33px;
	letter-spacing: 0.045em;	
	margin: 0;
	padding: 0;
}


/*===========*/
/*	BUTTONS	 */
/*===========*/
.btn {
	background-image: linear-gradient(180deg, #FA8701, #FA4C01);
	text-align: center;
	font-size: 24px;
	display: block;
	padding: 20px 0;
	width: 320px;	
	cursor: pointer;
	transition: all 0.5s ease;
	background: linear-gradient(180deg, #FA8701 11.67%, #FA4C01 92.4%);
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 17px;	
	font-size: 26px;
}

.btn-link {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
}

.mouse-link {
	display: block;	
}

.mouse-img {
	max-width: 100%;
	vertical-align: top;
}

/*==============*/
/*	SOCIAL		*/
/*==============*/
.social-box {
	margin: 0;
	margin-right: 30px;
	padding: 0;	
}

.social-list {
	margin-bottom: 3px;
	justify-content: flex-start;
}

.social-link {
	font-size: 30px;
	color: #fff;
}

.social-link:hover {
	color: #FF7900;
}
/*==============*/
/*	HEADLINE	*/
/*==============*/
.headline {
	/* чтобы линии не выходили за ширину блока заголовка */
	overflow: hidden;
}

.headline::before{
	content: '';
	/* делаем линию строчно-блочной */
	display: inline-block;
	/* выравниваем вертикально по середине */
	vertical-align: middle;
	/* не позволяем ширине превысить 100% (будет добавлен бордюр) */
	box-sizing: border-box;
	/* установка ширины в 100% делает линию равной ширине тега заголовка
	** благодаря этому линия заполнит все свободное пространство
	** слева и справа от текста*/
	width: 100%;
	height: 1px;
	/* добавляем к линии левый и правый бордюр цветом основного фона заголовка
	** благодаря этому создается нужный отступ между линиями и текстом*/
	border: solid #FFF;
	border-width: 0 100px;
	margin-right: -92%;
}
/*==========*/
/* 	FOOTER	*/
/*==========*/
.footer-block {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background:   url('../img/bg-footer.jpg') no-repeat;
	background-size: cover;
	height: 100%;	
	z-index: 0;
	color: #fff;
	font-size: 24px;
}

.footer-block::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 83, 118, 0.83);
	background-size: contain;
	z-index: -1;
}
 
.footer-content {
	display: flex;	
	justify-content: space-around;
	align-items: flex-start;
}

.footer-h {
	font-weight: bold;
	margin: 0;
}

.copyright {
	text-align: center;
}
/*==========*/
/* 	EX-BOX	*/
/*==========*/
.ex-flex {
	display: flex;	
	align-items: center;
}

.ex-item {
	position: relative;
	border: 1px solid #000;
	border-radius: 17px;
	margin: 25px;
	overflow: hidden;
	width: 338px;
	height: 594px;
}

.ex-bg {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(0, 83, 118, 0.83);
	background-size: cover;
}

.ex-box {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
}


.ex-name {

}
.ex-cal,
.ex-coin,
.ex-time,
.ex-persons	{
	justify-content: space-between;
}


.ex-btn {	
	font-size: 24px;
	padding: 3px 20px;
 width: 223px;
 margin: 0 auto;
	
	transition: all 0.5s ease;
	border: none;
	border-radius: 40px;	
}